.c-info {
  padding: 0 15px;
  & .c-info--body {
    padding-bottom: 30px;
    & .title {
      font-weight: 500;
      font-size: 22px;
      color: #333333;
    }

    & .el-card {
      border: none;
      & .el-card__body {
        padding: 15px 0;

        & ol {
          margin-left: -20px;
          & li {
            color: #333333;
            margin: 10px 0;
            line-height: 20px;
            font-size: 16px;
          }
        }

        & .btn-container {
          text-align: center;
          padding-top: 30px;
          padding-bottom: 15px;
        }
      }
    }
  }
}
