.c-profil {
  padding: 0 15px;

  & .c-profil--body {
    padding-bottom: 100px;
    & .el-card {
      margin-bottom: 20px;
      border: none;
      & .el-card__body {
        padding: 15px 0;
        & .title {
          text-align: left;
          margin-bottom: 15px;
          font-weight: 600;
          color: #333333;
          font-size: 26px;
        }

        & p {
          text-align: left;
          color: #333333;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 15px;
        }

        & ol {
          padding: 0;
          margin: 0;
          & li {
            text-align: left;
            color: #555555;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }
        }

        & .el-input {
          margin-bottom: 15px;
        }
      }
    }
  }
}
