.c-carousel {
  position: relative;
  & .el-carousel {
    & .el-carousel__container {
      height: 480px;
      & .el-carousel__item {
        display: block;
        opacity: 0;
        transition: opacity 2s ease-in-out;

        & img {
          max-width: 100%;
          min-height: 480px;
        }

        &.is-active {
          opacity: 1;
        }
      }
    }
  }
}
